.banner {
  width: 20rem;
  height: 22rem;
  background-color: lightblue;
  margin-right: 3rem;
  flex-shrink: 0;
  list-style: none;
  border-radius: 2rem;
  padding: 2rem;
}

.banner_list {
  display: flex;
  width: calc(100% + 10px);
  animation: banner-animation 10s linear infinite;
  /* 배너 순환 조정 */
}

@keyframes banner-animation {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-200px * 10 - 10px * 10));
  }
}